.modal-wrapper{
    @apply fixed flex justify-center items-center left-0 top-0 w-screen h-screen bg-slate-800/30
}

.modal{
    @apply relative bg-white rounded-lg min-w-[25rem] max-w-[50rem] p-4
}

.modal-close-btn{
    @apply text-rose-500 absolute right-2 top-2 hover:scale-110 active:scale-90 cursor-pointer
}
